.order-summary-container {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.order-summary-content {
  width: calc(70% - 40px);
  display: flex;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: var(--primary-color);
  color: #fff;
  padding: 20px;
}

.order-summary-total {
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: -0.015em;
  color: #fff;
  display: block;
}

.order-summary-price {
  font-weight: bold;
  font-size: 18px;
  line-height: 19px;
  letter-spacing: -0.015em;
  color: #fff;
  margin-right: 5px;
}

.order-summary-make-order {
  width: 220px;
  height: 45px;
  background: #fff;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -0.015em;
  color: var(--primary-color);
  border: 0;
  cursor: pointer;
}

.order-summary-make-order:focus {
  outline: none;
}

.order-summary-make-order:hover {
  background-color: #fcf2f2;
  transform: scale(1.01);
}

.amount-selected-container {
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: -0.015em;
  display: block;
  margin-bottom: 10px;
}

.amount-selected {
  font-weight: bold;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: -0.015em;
  margin-right: 5px;
}

@media only screen and (max-width: 768px) {
  .order-summary-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .order-summary-make-order {
    margin-top: 15px;
    width: 100%;
  }
}
