.orders-list-container {
  display: flex;
  justify-content: center;
}

.orders-list-items {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 235px);
  grid-gap: 20px 15px;
  justify-content: space-around;
}
